.reviewForm {
    width: stretch;
    width: -moz-available;
}

.input-start {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="radio"] {
    display: none;
  }

textarea {
    height: auto;
    border: solid 1px #3e3e3e;
    font-size: inherit;
    font-family: inherit;
    padding: 0.25rem;
    resize: none;
    margin-top: 0.5rem;
}