.formStyle{
    max-width: 500px;
    width: 100%;
    margin-right: auto;
    margin-left:auto;
    padding: 20px;
    margin-top: 2rem;
    border: solid 0.1rem grey;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    padding: 10px
}
.buttonContainer {
    display: flex;
    justify-content: flex-end
}
.error {
    color: red
}
.button {
    padding: 5px;
    margin: 5px
}
.inputStock {
    width: 25%;
    margin-left: 1rem;
}
.labelStock {
    margin-left: 1rem;
}