.input-large{
    width: 360px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: grey !important;
    font-weight: bold !important;
}