.Copyright-Container  {
  display: block;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  background-color: #343a40;
  bottom: 0;
}

.Copyright-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  }
